/*--------------------------------------------------------------
# about Section
--------------------------------------------------------------*/
.about .container{
  background: url(../../fastlane-assets/tindahan.jpg)no-repeat;
  height: 550px;
  background-position: center center;
  
}
.about .container h5 {
    font-weight: 700;
    color: #4151f4;
    background-color: #fff;
    opacity: 75%;
    border-radius: 10px;
    margin: 0;
    padding: 20px;

  }
  .about h2 {
    color: #444444;
    margin: 15px 0 0 0;
    font-size: 26px;
  }
  .about .btn-get-started {
    margin-top: 30px;
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #4154f1;
    box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
  }
  .about .btn-get-started span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
  }
  .about .btn-get-started i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
  }
  .about .btn-get-started:hover i {
    transform: translateX(5px);
  }
  .about .about-img {
    text-align: right;
  }
  @media (min-width: 1024px) {
    .about {
      background-attachment: fixed;
    }
  }
  @media (max-width: 991px) {
    .about {
      height: auto;
      padding: 120px 0 60px 0;
    }
    .about .about-img {
      text-align: center;
      margin-top: 80px;
    }
    .about .about-img img {
      width: 80%;
    }
  }
  @media (max-width: 768px) {
    .about {
      text-align: center;
    }
    .about h1 {
      font-size: 32px;
    }
    .about h2 {
      font-size: 24px;
    }
    .about .about-img img {
      width: 100%;
    }
  }
  